services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - 5678:5678
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE:-true}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER:-admin}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD:-admin}
      - WEBHOOK_TOKEN=${WEBHOOK_TOKEN:-aBgLzQZM9fd2lPvIVmd5IvBa6Kbxxxv3Fl8ulk7tosOaZyvBF9CwUWpESp8fhVPE}
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

  web:
    build:
      context: ./web
    ports:
      - 8000:8000
    volumes:
      - ./web:/app
    depends_on:
      - db
    env_file:
      - .env
    restart: unless-stopped

  db:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
      - POSTGRES_DB=${DB_NAME:-web}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  n8n_data: